@import url("https://fonts.googleapis.com/css?family=Inconsolata&display=swap");
.myClass .mat-dialog-container {
        border: 1px solid black;
}
.mat-dialog-title{
    margin-left:10%;
    font-size:24px;
}
.download-form{
    margin-top:10%;
}
.mat-form-field{
    width:80%;
    font-size:14px;
}
.mat-dialog-actions{
    margin-right:6%;
}
.mat-dialog-content{
    margin-top:5%;
    height:85%;
}
p{
    display: flex;
    justify-content:  center;
}
.label {
    font-family: Inconsolata, Monospace;
    font-weight:bold;
    font-size:15px;
}

input {
    padding : 0 0 4px 0;
}
