@import url("https://fonts.googleapis.com/css?family=Inconsolata&display=swap");
.mat-toolbar {
    /* background-color: #3f51b5; */
    background-color: #2C3335;
    /* background: #00c6ff; 
    background: -webkit-linear-gradient(to right, #00c6ff, #0072ff); 
    background: linear-gradient(to right, #00c6ff, #0072ff); */
  }
  .example-app-name {
    font-family: Inconsolata, monospace;
    /* font: 500 20px/26px "Google Sans",sans-serif; */
    font-weight: bold;
    color: white;
  }
.row1-links {
    /* position: absolute; */
    right: 0;
    display: flex;
    justify-content: center;
    margin-right: 5%;
  }
  .row1-links div{
    padding: 10px;
  }
  a {
    font-family: Inconsolata, Monospace;
    color: white;
    font-weight: bold;
    font-size: 18px;
  }