.card-container {
  /* position:relative; */
  min-height: calc(100vh - 90px);
  /* min-height: 60%; */
  display: grid;
  grid-template-columns: 4fr 4fr 4fr;
  grid-column-gap: 25px;

  align-items: center;
  padding: 0 60px 0 60px;
  /* background: #00c6ff; 
  background: -webkit-linear-gradient(to right, #0072ff, #00c6ff);
  background: linear-gradient(to right, #0072ff, #00c6ff); */
  /* background: #0cebeb; 
background: -webkit-linear-gradient(to right, #29ffc6, #20e3b2, #0cebeb); 
background: linear-gradient(to right, #29ffc6, #20e3b2, #0cebeb);  */
background: #fd746c;  
 background: -webkit-linear-gradient(to right, #ff9068, #fd746c); 
 background: linear-gradient(to right, #ff9068, #fd746c);
}
.card {
  justify-content: center;
  align-items: center;
}

.mat-card {
  display: flex;
  flex-direction: column;
  height: 470px;
  /* justify-content: space-evenly; */
  padding: 0;
  border-radius: 0;
  box-shadow: 0 2px 5px 4px rgba(0,0,0,.2), 0 3px 2px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12);
}
.mat-card-header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 70px;
  flex-shrink: 0;
  background-color: white;
  /* padding: 10px; */
}
.card a {
  text-decoration: none;
}
.mat-card-title {
  font-size: 24px;
  font-weight: bold;
  padding: 6px;
}
.mat-card-subtitle {
  padding: 6px;
}
/* .card{
    height : 100%;   
}  */
.mat-card-title,
.mat-card-content,
.mat-flat-button,
.mat-card-footer {
  font-family: "Inconsolata", monospace;
}

.mat-card-content {
  margin-bottom:0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mat-card-footer {
  flex-grow:1 ;
  justify-content: center;
  align-items: center;
}
.mat-card-footer p{
  font-size: 20px;
  font-weight: bold;
  padding:10px 0 0 22px;
  margin:0;
}
.hr-line {
  display: none;
}

.mat-card-footer {
  margin:0;
}

#second-card {
  margin-left: 50px;
}

.image {
  display: flex;
  justify-content: center;
  align-items: center;
}

.image img {
  width:380px;
  height:350px;
}

.footer-images {
  display: flex;
  width: calc(100% - 12px);
  /* flex-flow: wrap; */
  justify-content: space-between;
  align-items: center;
  padding:6px;
}
.footer-images img {
  
}

.footer-images img:hover {
  cursor: pointer;
}
@media only screen and (max-width: 600px) {
  .card-container {
    min-height: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-template-rows: 1fr auto;
    /* grid-column-gap: 10px; */
    grid-row-gap: 20px;
    padding: 40px 40px 40px 40px;
  }
  .mat-card {
    display: flex;
    flex-direction: column;
    height: 470px;
    padding: 0;
  }
  .mat-card-title {
    font-size: 18px;
    font-weight: bold;
    padding: 4px;
  }
  .mat-card-subtitle {
    padding: 4px;
  }
  .hr-line {
    display: block;
    border-bottom: 1px solid lightgray;
  }
  #first-card {
    /* margin-left:80px; */
  }
  #second-card {
    
  }
}
