<div class="card-container">
  <!-- <div class="card">
        <mat-card>
          <mat-card-header>
            <mat-card-title>
              #1
            </mat-card-title>
          </mat-card-header>
          <mat-card-content align="center">
            <p>
              Presenter Container Architecture
            </p>
          </mat-card-content>
          <mat-card-actions align="center">
                 
          </mat-card-actions>
        </mat-card>
    </div> -->
  <!-- <div class="card">
    <mat-card>
      <mat-card-header>
        <mat-card-title style="margin:0">
          Monitor Yout
        </mat-card-title>
        <mat-card-subtitle style="margin:0">
          JUNE-19 - JULY-19
        </mat-card-subtitle>
      </mat-card-header>
      <mat-card-content align="center">
        <p>
          Coming Soon...
        </p>
      </mat-card-content>
      <mat-card-actions align="center"> </mat-card-actions>
    </mat-card>
  </div> -->
  <!-- <span class="hr-line"></span> -->
  <div class="card">
    <mat-card>
      <mat-card-header>
        <mat-card-title style="margin: 0;">
          REPORT GENERATING MODULE
        </mat-card-title>
        <mat-card-subtitle style="margin: 0;">
          MAY-19 - JUNE-19
        </mat-card-subtitle>
      </mat-card-header>
      <mat-card-content align="center">
        <img
          style="width: 100%; height: 225px;"
          src="assets/report-generating.png"
          alt="offline-joule-track"
        />
      </mat-card-content>
      <mat-card-footer>
        <p>TECHNOLOGY STACK</p>
        <div
          class="footer-images"
          style="justify-content: space-around; padding-top: 15px;"
        >
        <a href="https://angular.io/">
          <img
            style="width: 60px; height: 55px;"
            src="assets/angular.svg"
            alt="angular-logo"
            matTooltip="Angular Frontend"
          />
        </a>
        <a href="https://nodejs.org/en/" >
          <img
            style="width: 100px; height: 56px;"
            src="assets/node-js.png"
            alt="node-js-logo"
            matTooltip="Node Backend"
          />
        </a>
        <a href="https://docs.aws.amazon.com/AmazonS3/latest/dev/Introduction.html">
          <img
            style="width: 120px; height: 55px;"
            src="assets/amazon-s3.png"
            alt="amazon-s3-logo"
            matTooltip="Amazon S3 Storage Service"
          />
        </a>
        </div>
      </mat-card-footer>
    </mat-card>
  </div>
  <span class="hr-line"></span>
  <div class="card">
    <mat-card>
      <mat-card-header>
        <mat-card-title style="margin: 0;">
          OFFLINE JOULE TRACK
        </mat-card-title>
        <mat-card-subtitle style="margin: 0;">
          JANUARY-19 - MARCH-19
        </mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <img
          style="width: 100%; height: 225px;"
          src="assets/offline-joule-track.png"
          alt="offline-joule-track"
        />
      </mat-card-content>
      <mat-card-footer>
        <p>TECHNOLOGY STACK</p>
        <div style="padding: 10px 10px 0 10px;">
          <div class="footer-images">
            <a href="https://reactjs.org/">            
            <img
              style="width: 60px; height: 55px;"
              src="assets/react-logo.png"
              alt="react icon"
              matTooltip="React JS"
            />
          </a>
          <a href="https://docs.python.org/3/">
            <img
              style="width: 100px; height: 56px;"
              src="assets/python.png"
              alt="python icon"
              matTooltip="Python"
            />
          </a>
          <a href="https://www.postgresql.org/">
            <img
              style="width: 120px; height: 55px;"
              src="assets/postgresSQL.png"
              alt="postgress SQL"
              matTooltip="Postgres DB"
            />
          </a>
          </div>
          <div class="footer-images f2" style="justify-content: flex-start; padding:0 6px 0 6px">
            <a href="https://mosquitto.org/">
            <img
              style="width: 140px; height: 45px; margin-left: 10px;"
              src="assets/mosquitto-mqtt-broker.png"
              alt="mosquitto broker"
              matTooltip="Mosquitto Mqtt Broker"
            />
          </a>
          </div>
        </div>
      </mat-card-footer>
      <!-- <mat-card-actions align="center"> </mat-card-actions> -->
    </mat-card>
  </div>
  <div class="image">
    <img src="assets/code.png" alt="i-write-code" />
  </div>
</div>
