<div class="card-container">
  <!-- <div class="card">
        <mat-card>
          <mat-card-header>
            <mat-card-title>
              #1
            </mat-card-title>
          </mat-card-header>
          <mat-card-content align="center">
            <p>
              Presenter Container Architecture
            </p>
          </mat-card-content>
          <mat-card-actions align="center">
                 
          </mat-card-actions>
        </mat-card>
    </div> -->
  <!-- <div class="card">
    <mat-card>
      <mat-card-header>
        <mat-card-title style="margin:0">
          Monitor Yout
        </mat-card-title>
        <mat-card-subtitle style="margin:0">
          JUNE-19 - JULY-19
        </mat-card-subtitle>
      </mat-card-header>
      <mat-card-content align="center">
        <p>
          Coming Soon...
        </p>
      </mat-card-content>
      <mat-card-actions align="center"> </mat-card-actions>
    </mat-card>
  </div> -->
  <!-- <span class="hr-line"></span> -->
  <div class="card">
    <mat-card>
      <mat-card-header>
        <mat-card-title style="margin:0">
          Report Generating Module
        </mat-card-title>
        <mat-card-subtitle style="margin:0">
          MAY-19 - JUNE-19
        </mat-card-subtitle>
      </mat-card-header>
      <mat-card-content align="center">
        <img style="width:100%;height:250px; " src="assets/report-generating.png" alt="offline-joule-track">
      </mat-card-content>
      <mat-card-actions align="center"> </mat-card-actions>
    </mat-card>
  </div>
  <span class="hr-line"></span>
  <div class="card">
    <mat-card>
      <mat-card-header>
        <mat-card-title style="margin:0">
          Offline Joule Track
        </mat-card-title>
        <mat-card-subtitle style="margin:0">
          JANUARY-19 - MARCH-19
        </mat-card-subtitle>
      </mat-card-header>
      <mat-card-content align="center">
        <img style="width:100%;height:250px" src="assets/offline-joule-track.png" alt="offline-joule-track">
      </mat-card-content>
      <mat-card-actions align="center"> </mat-card-actions>
    </mat-card>
  </div>
  <div class="image">
    <img src="assets/code.png" alt="i-write-code">
  </div>
</div>
