<div class="contact-card-container">
  <div class="card">
    <mat-card>
      <form
        class="contact-form"
        [formGroup]="contactForm"
        (ngSubmit)="contact()"
      >
        <div>
          <mat-label class="label">Name</mat-label>
          <mat-form-field appearance="outline">
            <input
              matInput
              placeholder="Enter name"
              type="name"
              formControlName="name"
            />
          </mat-form-field>
        </div>
        <div>
          <mat-label class="label">Email</mat-label>
          <mat-form-field appearance="outline">
            <input
              matInput
              placeholder="Enter email"
              type="email"
              formControlName="email"
            />
          </mat-form-field>
        </div>
        <div>
          <mat-label class="label">Message</mat-label>
          <mat-form-field appearance="outline">
            <textarea
              matInput
              placeholder="Textarea"
              formControlName="message"
            ></textarea>
          </mat-form-field>
        </div>
        <mat-card-actions align="center">
          <button
            style="background-color: #3f51b5;"
            mat-flat-button
            type="submit"
          >
            SEND
          </button>
        </mat-card-actions>
      </form>
    </mat-card>
  </div>
</div>
