@import url("https://fonts.googleapis.com/css?family=Inconsolata&display=swap");
.contact-card-container {
  min-height: calc(100vh - 64px);
  display: flex;
  justify-content: center;
  align-items: center;
}
.card {
  min-height: 450px;
  min-width: 50%;
}

.mat-card {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px;
}
.mat-card-header {
  height:60px;
  width : 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  /* background-color: #3f51b5; */
  background-color: #2C3335;
  /* margin: 0px; */
  /* background: #00c6ff; 
  background: -webkit-linear-gradient(to right, #00c6ff, #0072ff); 
  background: linear-gradient(to right, #00c6ff, #0072ff); */
}
.mat-card-title {
  font-family: Inconsolata, Monospace;
  font-weight: bold;
  font-size:20px;
  color: white;
}
.contact-form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
  width: 80%;
  padding: 20px;
  margin-top:20px;
}
.mat-form-field {
  width: 47%;
  font-size:12px;
}
.mat-form-field-appearance-outline .mat-form-field-infix {
  padding: 0.7em 0 1.3em 0;
}
.contact-form div {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.label {
  padding: 6px;
  font-family: Inconsolata, monospace;
  font-weight: bold;
  font-size: 16px;
}
.mat-card-actions {
  width: 100%;
}
.mat-flat-button {
  min-width: 47%;
  color: white;
  font-family: Inconsolata, monospace;
  font-weight: bold;
}
input,
textarea {
  font-family: Inconsolata, monospace;
  font-weight: bold;

  padding: 2px 0 8px 0;
}
textarea {
  height : 60px;
}
@media only screen and (max-width: 800px) {
  .contact-card-container {
    min-height: calc(100vh - 64px);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .card {
    min-height: 450px;
    min-width: 80%;
  }
  .mat-form-field {
    width: 75%;
  }
  .mat-flat-button {
    width: 75%;
    color: white;
    font-family: Inconsolata, monospace;
    font-weight: bold;
  }
}
