<div class="card-container">
  <div class="card">
    <mat-card>
      <mat-card-header class="java">
        <mat-card-title style="margin-bottom:0">
          JAVA
        </mat-card-title>
      </mat-card-header>
      <mat-card-content align="center">
         <a mat-button routeLink="">View Project</a>
      </mat-card-content>
      <mat-card-footer>
        <div class="bar" style="width:60%;height:100%;background-color:#616C6F">
          60%
        </div>
      </mat-card-footer>
    </mat-card>
  </div>
  <div class="card">
    <mat-card>
      <mat-card-header class="c">
        <mat-card-title style="margin-bottom:0">
          C
        </mat-card-title>
      </mat-card-header>
      <mat-card-content align="center">
          <a mat-button routeLink="">View Project</a>
      </mat-card-content>
      <mat-card-footer>
        <div class="bar" style="width:50%;height:100%;background-color:#616C6F">
          50%
        </div>
      </mat-card-footer>
    </mat-card>
  </div>
  <div class="card">
    <mat-card>
      <mat-card-header class="javascript">
        <mat-card-title style="margin-bottom:0">
          JAVASCRIPT
        </mat-card-title>
      </mat-card-header>
      <mat-card-content align="center">
          <a mat-button routeLink="">View Project</a>
      </mat-card-content>
      <mat-card-footer>
        <div class="bar" style="width:40%;height:100%;background-color:#616C6F">
          40%
        </div>
      </mat-card-footer>
    </mat-card>
  </div>
  <div class="card">
    <mat-card>
      <mat-card-header class="angular">
        <mat-card-title style="margin-bottom:0">
          ANGULAR
        </mat-card-title>
      </mat-card-header>
      <mat-card-content align="center">
          <a mat-button routeLink="">View Project</a>
      </mat-card-content>
      <mat-card-footer>
        <div class="bar" style="width:60%;height:100%;background-color:#616C6F">
          60%
        </div>
      </mat-card-footer>
    </mat-card>
  </div>
  <div class="card">
    <mat-card>
      <mat-card-header class="dbms">
        <mat-card-title style="margin-bottom:0">
          DBMS
        </mat-card-title>
      </mat-card-header>
      <mat-card-content align="center">
          <a mat-button routeLink="">View Project</a>
      </mat-card-content>
      <mat-card-footer>
        <div class="bar" style="width:50%;height:100%;background-color:#616C6F">
          50%
        </div>
      </mat-card-footer>
    </mat-card>
  </div>
  <div class="card">
    <mat-card>
      <mat-card-header class="data-structures">
        <mat-card-title style="margin-bottom:0">
          DATA STRUCTURES
        </mat-card-title>
      </mat-card-header>
      <mat-card-content align="center">
          <a mat-button routeLink="">View Project</a>
      </mat-card-content>
      <mat-card-footer>
        <div class="bar" style="width:55%;height:100%;background-color:#616C6F">
          55%
        </div>
      </mat-card-footer>
    </mat-card>
  </div>
</div>
