<div class="card-container">
    <div class="card">
        <mat-card>

        </mat-card>
    </div>
    <div class="card">
        <mat-card>

        </mat-card>
    </div>
    <div class="card">
        <mat-card>
            
        </mat-card>
    </div>
    <div class="card">
            <mat-card>
                
            </mat-card>
    </div>
    <div class="card">
            <mat-card>
                
            </mat-card>
    </div>
    <div class="card">
            <mat-card>
                
            </mat-card>
        </div>
</div>