<div class="card-container">
    <div class="card">
      <mat-card>
        <mat-card-header class="java">
          <mat-card-title style="margin-bottom: 0;">
            JAVA
          </mat-card-title>
          <mat-card-content
            style="justify-content: flex-end; margin-right: 40px;"
          >
            <img src="assets/java.svg" alt="java" />
          </mat-card-content>
        </mat-card-header>
        <mat-card-content align="center">
          <a mat-button routeLink="">OPEN PROGRESS</a>
        </mat-card-content>
        <mat-card-footer>
          <div class="bar" style="height: 100%; background-color: #45ce30;">
            60%
          </div>
        </mat-card-footer>
      </mat-card>
    </div>
    <div class="card">
      <mat-card>
        <mat-card-header class="c">
          <mat-card-title style="margin-bottom: 0;">
            C
          </mat-card-title>
          <mat-card-content
            style="justify-content: flex-end; margin-right: 40px;"
          >
            <img src="assets/c.png" alt="c logo" />
          </mat-card-content>
        </mat-card-header>
        <mat-card-content align="center">
          <a mat-button routeLink="">OPEN PROGRESS</a>
        </mat-card-content>
        <mat-card-footer>
          <div
            class="bar"
            style="width: 50%; height: 100%; background-color: #45ce30;"
          >
            50%
          </div>
        </mat-card-footer>
      </mat-card>
    </div>
    <div class="card">
      <mat-card>
        <mat-card-header class="javascript">
          <mat-card-title style="margin-bottom: 0;">
            JAVASCRIPT
          </mat-card-title>
          <mat-card-content
            style="justify-content: flex-end; margin-right: 40px;"
          >
            <img src="assets/javascript.svg" alt="javascript" />
          </mat-card-content>
        </mat-card-header>
        <mat-card-content align="center">
          <a mat-button routeLink="">OPEN PROGRESS</a>
        </mat-card-content>
        <mat-card-footer>
          <div
            class="bar"
            style="width: 40%; height: 100%; background-color: #45ce30;"
          >
            40%
          </div>
        </mat-card-footer>
      </mat-card>
    </div>
    <div class="card">
      <mat-card>
        <mat-card-header class="angular">
          <mat-card-title style="margin-bottom: 0;">
            ANGULAR
          </mat-card-title>
          <mat-card-content
            style="justify-content: flex-end; margin-right: 40px;"
          >
            <img src="assets/angular.svg" alt="angular" />
          </mat-card-content>
        </mat-card-header>
        <mat-card-content align="center">
          <a mat-button routeLink="">OPEN PROGRESS</a>
        </mat-card-content>
        <mat-card-footer>
          <div
            class="bar"
            style="width: 60%; height: 100%; background-color: #45ce30;"
          >
            60%
          </div>
        </mat-card-footer>
      </mat-card>
    </div>
    <div class="card">
      <mat-card>
        <mat-card-header class="dbms">
          <mat-card-title style="margin-bottom: 0;">
            DBMS
          </mat-card-title>
          <mat-card-content
            style="justify-content: flex-end; margin-right: 40px;"
          >
            <img src="assets/sql.svg" alt="sql" />
          </mat-card-content>
        </mat-card-header>
        <mat-card-content align="center">
          <a mat-button routeLink="">OPEN PROGRESS</a>
        </mat-card-content>
        <mat-card-footer>
          <div
            class="bar"
            style="width: 50%; height: 100%; background-color: #45ce30;"
          >
            50%
          </div>
        </mat-card-footer>
      </mat-card>
    </div>
    <div class="card">
      <mat-card>
        <mat-card-header class="data-structures">
          <mat-card-title style="margin-bottom: 0;">
            DATA STRUCTURES
          </mat-card-title>
          <mat-card-content
            style="justify-content: flex-end; margin-right: 40px;"
          >
            <img src="assets/data_structure.png" alt="data_structure" />
          </mat-card-content>
        </mat-card-header>
        <mat-card-content align="center">
          <a mat-button routeLink="">OPEN PROGRESS</a>
        </mat-card-content>
        <mat-card-footer>
          <div
            class="bar"
            style="width: 55%; height: 100%; background-color: #45ce30;"
          >
            55%
          </div>
        </mat-card-footer>
      </mat-card>
    </div>
</div>

