<div class="example-container">
  <mat-toolbar class="example-toolbar">
    <h1 class="example-app-name">Welcome</h1>
    <div class="links">
      <div class="home">
        <a mat-button routerLink="">Home</a>
      </div>
      <div class="skills">
        <a mat-button routerLink="/skills">Skills</a>
      </div>
      <div class="projects">
        <a mat-button routerLink="/projects">Projects</a>
      </div>
      <div class="Contact">
        <a mat-button routerLink="/contact">Contact</a>
      </div>
    </div>
  </mat-toolbar>
</div>
<!-- <button mat-icon-button (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
</button> -->
<!-- <mat-sidenav-container class="example-sidenav-container">
    <mat-sidenav #sidenav mode="side" opened>
      Sidenav content
    </mat-sidenav>
  </mat-sidenav-container> -->
