@import url("https://fonts.googleapis.com/css?family=Inconsolata&display=swap");
.mat-toolbar {
  /* background-color: #3f51b5; */
  background-color: #2C3335;
  /* background: #00c6ff; 
  background: -webkit-linear-gradient(to right, #00c6ff, #0072ff); 
  background: linear-gradient(to right, #00c6ff, #0072ff); */
}
.example-app-name {
  font-family: Inconsolata, monospace;
  /* font: 500 20px/26px "Google Sans",sans-serif; */
  font-weight: bold;
  color: white;
}
 .menu {
   display: none;
   color: white;
 }
.row-links {
  position: absolute;
  right: 0;
  display: flex;
  justify-content: flex-end;
  margin-right: 5%;
}
.row-links div {
  padding: 10px;
}
a {
  font-family: Inconsolata, Monospace;
  color: white;
  font-weight: bold;
  font-size: 18px;
}

/* .example-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
   */
  /* .example-is-mobile .example-toolbar {
    position: fixed;
    z-index: 2;
  }
  
  .example-sidenav-container {
    flex: 1;
  }
  
  .example-is-mobile .example-sidenav-container {
    flex: 1 0 auto;
  } */
   @media only screen and (max-width:774px) {
    .row-links {
      display:none;
    }
    a {
      font-family: Inconsolata, Monospace;
      color: white;
      font-weight: bold;
      font-size: 12px;
    }
    .menu {
      display: inline;
      color: white;
    }
    .mat-toolbar-row {
      display: flex;
      justify-content: space-between;
    }
    .menu:hover {
      cursor: pointer;
    }
    /* .example-app-name {
      font-size:14px;
       */
  } 
  