<div id="toolbar" [ngClass]="{ 'example-container': isSticky }">
  <mat-toolbar class="example-toolbar">
    <mat-toolbar-row id="row">
      <!-- <button class="menu" mat-icon-button (click)="sidenav.toggle()" *ngIf="isHandset$ | async">
            <mat-icon>menu</mat-icon>
          </button> -->
      <h1 class="example-app-name">WELCOME</h1>
      <div class="row-links">
        <div class="home">
          <a mat-button routerLink="" routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }" >HOME</a>
        </div>
        <div class="skills">
          <a mat-button routerLink="/skills" routerLinkActive="active">SKILLS</a>
        </div>
        <div class="projects">
          <a mat-button routerLink="/projects" routerLinkActive="active">PROJECTS</a>
        </div>
        <div class="journey-so-far">
          <a mat-button routerLink="/journey-so-far" routerLinkActive="active">JOURNEY SO FAR</a>
        </div>
        <div class="certificates">
          <a mat-button routerLink="/certificates" routerLinkActive="active">CERTIFICATES</a>
        </div>
        <div class="Contact">
          <a mat-button routerLink="/contact" routerLinkActive="active">CONTACT</a>
        </div>
      </div>
      <button class="menu" mat-icon-button (click)="toggleSidebar()">
        <mat-icon align="right">menu</mat-icon>
      </button>
    </mat-toolbar-row>
  </mat-toolbar>
</div>
