/* .routes {
    background-color:#f7f7f7;
}
footer-presenter{
    display:none;
}

@media only screen and (max-width: 600px) {
    footer-presenter{
        display:1;
    }   
} */
.routes {
 margin-top: 64px;
 /* background: #7F00FF; 
 background: -webkit-linear-gradient(to right, #E100FF, #7F00FF); 
 background: linear-gradient(to right, #E100FF, #7F00FF);  */
 background: #f5f5f5;
 /* background: #fd746c;  
 background: -webkit-linear-gradient(to right, #ff9068, #fd746c); 
 background: linear-gradient(to right, #ff9068, #fd746c); */
 
}
mat-drawer {
  width: 250px;
}

mat-drawer-content {
  height: 100%;
}
