/* .routes {
    background-color:#f7f7f7;
}
footer-presenter{
    display:none;
}

@media only screen and (max-width: 600px) {
    footer-presenter{
        display:1;
    }   
} */
.routes {
 margin-top: 64px;
}
mat-drawer {
  width: 250px;
}

mat-drawer-content {
  height: 100%;
}
