<div class="row-links">
  <a routerLink="/home">
    <div
      class="home"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      Home
    </div>
  </a>
  <a routerLink="/skills">
    <div class="skills" routerLinkActive="active">Skills</div>
  </a>
  <a routerLink="/projects">
    <div class="projects" routerLinkActive="active">Projects</div>
  </a>
  <a routerLink="/journey-so-far">
    <div class="journey-so-far" routerLinkActive="active">Journey So Far</div>
  </a>
  <a routerLink="/certificates">
    <div class="certificates" routerLinkActive="active">Certificates</div>
  </a>
  <a routerLink="/contact">
    <div class="Contact" routerLinkActive="active">Contact</div>
  </a>
</div>
