<mat-card>
    <mat-card-header>
      <mat-card-title> </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="profile-name">
          <div class="profile-name-title">
            <span>VINAY PATHAK</span>
          </div>
          <div class="profile-img">
              <img
            src="assets/vicky.jpg"
            alt="profile picture"
            style="height:100px;width:100px;border-radius:50%"
            />
          </div>
      </div>
      <div class="objective">
        <p style="font-size:18px;text-align:center">
          Seeking to work as a key player in challenging and creating
          environment of a leading organization where I can utilize my
          therotical and practical knowledge.
        </p>
      </div>
      <div class="download-resume">
        <button class="hello" mat-button (click)="openDialog()">DOWNLOAD RESUME</button>
      </div>
      <br />
      <mat-card-footer>
        <div class="handles">
          <a
            matTooltip="LINKEDIN"
            mat-button
            href="https://www.linkedin.com/in/vinay-pathak-5b9262181/"
          >
            <img src="assets/linkedin.svg" alt="linked in" />
          </a>
          <a
            matTooltip="GITHUB"
            mat-button 
            href="https://github.com/vinaypathak07"
          >
            <img src="assets/github-logo.svg" alt="github-logo" />
          </a>
          <a
            matTooltip="HACKERRANK" 
            mat-button 
            href="https://www.hackerrank.com/me_vinaypathak">
            <img src="assets/hackerrank.svg" alt="hackerrank" />
          </a>
        </div>
      </mat-card-footer>
    </mat-card-content>
  </mat-card>