<div class="card-container">
    <div class="card">
      <mat-card>
        <mat-card-header>
          <mat-card-title>
              SMART JOULES LAB FELLOW INTERN
          </mat-card-title>
          <mat-card-content>
              <img class="company-logo" src="assets/loading.gif" alt="certificate-1" />
          </mat-card-content>
        </mat-card-header>
        <mat-card-content>
            <img class="certificate" mat-card-img src="assets/Joule_Lab_Internship.jpg" alt="certificate-1">
        </mat-card-content>
        <mat-card-footer>
        </mat-card-footer>
      </mat-card>
    </div>
    <div class="card">
        <mat-card>
            <mat-card-header>
              <mat-card-title>
                  SMART JOULES INTERNSHIP
              </mat-card-title>
              <mat-card-content>
                <img class="company-logo" src="assets/loading.gif" alt="certificate-1" />
              </mat-card-content>
            </mat-card-header>
            <mat-card-content>
                <img class="certificate" mat-card-img src="assets\Vinay_Pathak_Internship.jpg" alt="certificate-2">
            </mat-card-content>
            <mat-card-footer>
            </mat-card-footer>
          </mat-card>
    </div>
    <div class="card">
        <mat-card>
            <mat-card-header>
              <mat-card-title>
                  INFOSYS INTERNSHIP
              </mat-card-title>
              <mat-card-content>
                  <img class="company-logo" src="assets/infosys.png" style="width:80px;height:80px" alt="certificate-3" />
              </mat-card-content>
            </mat-card-header>
            <mat-card-content>
                    <img class="certificate" mat-card-img src="assets\Vinay_Pathak_Infosys_Internship.PNG" alt="certificate-3">
            </mat-card-content>
            <mat-card-footer>
            </mat-card-footer>
          </mat-card>
    </div>
    </div>