.journey-so-far {
  min-height: calc(100vh - 84px);
  display: grid;
  grid-template-rows: 3fr 3fr 3fr;
  grid-template-columns: 1fr;
  justify-content: center;
  align-items: center;
  padding: 20px 0 0 0;
}

.card-after-container,.card-before-container {
  display:grid;
  grid-template-columns: 3fr 1fr 3fr;
}

mat-card {
  padding:0;
  border-radius:0;
  height: 170px;
  width: 85%; 
}

.card-before {
  display: flex;
  justify-content: flex-end;
}

.center {
  display:flex;
  justify-content: center;
}

.center .timeline {
  width: 50px;
  height: 50px;
  border: 1px solid black;
  border-radius:50%;
  background-color: teal;
}

.card-before-container::before,.card-after-container::before {
  content: "";
  position: absolute;
  top: 0;
  margin-left:49.70%;
  height: 100%;
  width: 9px;
  background: #d7e4ed;
  z-index: -1;
}
.card-after mat-card::before {
  content: "";
  position: absolute;
  top: 16px;
  right: 100%;
  height: 0;
  width: 0;
  border: 14px solid transparent;
  border-right: 14px solid tomato;
}
.card-before mat-card::after {
  content: "";
  position: absolute;
  top: 16px;
  left: 100%;
  height: 0;
  width: 0;
  border: 14px solid transparent;
  border-left: 14px solid tomato;
}
/* .card-after-container {
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: flex-end;
  align-items: center;
}
.card-after-container::before {
  content: "";
  position: relative;
  top: 0;
  left: 30px;
  height: 100%;
  width: 9px;
  background: #d7e4ed;
  z-index: -1;
}

.card-before-container {
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
}
.card-before-container::after {
  content: "";
  position: relative;
  top: 0;
  right: 53px;
  height: 100%;
  width: 9px;
  background: #d7e4ed;
  z-index: -1;
}

.inner {
  height: 180px;
  width: 100px;
}
.card-after-container .inner .timeline {
  top: 0;
  left: 0;
  width: 50px;
  height: 50px;
  border: 1px solid black;
  border-radius: 50%;
  background-color: teal;
}

.card-before-container .inner .timeline {
  top: 0;
  margin-left: 26px;
  width: 50px;
  height: 50px;
  border: 1px solid black;
  border-radius: 50%;
  background-color: teal;
}

mat-card {
  height: 180px;
  width: 450px;
  padding: 0;
  border-radius: 0;
}

.card-before mat-card {
  margin-left: 150px;
}

.card-after mat-card {
  margin-right: 150px;
}

.card-after mat-card::before {
  content: "";
  position: absolute;
  top: 16px;
  right: 100%;
  height: 0;
  width: 0;
  border: 14px solid transparent;
  border-right: 14px solid tomato;
}

.card-before mat-card::after {
  content: "";
  position: absolute;
  top: 16px;
  left: 100%;
  height: 0;
  width: 0;
  border: 14px solid transparent;
  border-left: 14px solid tomato;
}

.mat-card-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

img {
  width: 60%;
  height: 60%;
}

h3 {
  margin: 0;
  font-size: 24px;
  font-family: "Inconsolata", monospace;
  font-weight: bold;
  text-align: center;
  padding: 10px;
} */
