.journey-so-far {
  min-height: calc(100vh - 84px);
  display: grid;
  grid-template-rows: 3fr 3fr 3fr;
  grid-template-columns: 1fr;
  justify-content: center;
  align-items: center;
  padding: 20px 0 0 0;
}

.card-after-container,
.card-before-container {
  display: grid;
  grid-template-columns: 3fr 1fr 3fr;
}

mat-card {
  padding: 0;
  border-radius: 0;
  height: 150px;
  width: 85%;
}

.card-before {
  display: flex;
  justify-content: flex-end;
}

.center {
  display: flex;
  justify-content: center;
}

/* Timeline Circle  */
.center .timeline {
  width: 45px;
  height: 45px;
  border: 1px solid black;
  border-radius: 50%;
  background-color: teal;
}

/* Vertical timeline  */
.card-before-container::before,
.card-after-container::before {
  content: "";
  position: absolute;
  top: 80px;
  margin-left: 49.75%;
  height: calc(100% - 80px);
  width: 6px;
  background: #d7e4ed;
  z-index: -1;
}

/* Arrow mark */
.card-after-container .card-after mat-card::before {
  content: "";
  position: absolute;
  top: 9px;
  right: 100%;
  height: 0;
  width: 0;
  border: 11px solid transparent;
  border-right: 9px solid tomato;
}
.card-before mat-card::after {
  content: "";
  position: absolute;
  top: 9px;
  left: 100%;
  height: 0;
  width: 0;
  border: 11px solid transparent;
  border-left: 9px solid tomato;
}

/* img {
  width: 60%;
  height: 60%;
}

h3 {
  margin: 0;
  font-size: 24px;
  font-family: "Inconsolata", monospace;
  font-weight: bold;
  text-align: center;
  padding: 10px;
}  */

.card-before-container .card-after {
  display: none;
}

@media only screen and (max-width: 930px) {
  .card-after-container,
  .card-before-container {
    display: grid;
    grid-template-columns: 1fr 4fr;
  }

  .card-before-container .card-after {
    display: flex;
  }

  .card-before-container::before {
    display: none;
  }
  .journey-so-far {
    min-height: calc(100vh - 84px);
    display: grid;
    grid-template-rows: 3fr 3fr 3fr;
    grid-template-columns: 1fr;
    row-gap:25px;
    justify-content: center;
    align-items: center;
    padding: 10px;
  }
  /* Timeline Circle  */
  /* .before-first .beforefirst-timeline {
      width: 45px;
      height: 45px;
      border: 1px solid black;
      border-radius:50%;
      background-color: teal;
    } */

  mat-card {
    padding: 0;
    border-radius: 4px;
    height: 150px;
    width: 92%;
  }

  .card-before-container .card-before {
    display: none;
  }
  .first {
    display: none;
  }
  .center .timeline {
    width: 40px;
    height: 40px;
    border: 1px solid black;
    border-radius: 50%;
    background-color: teal;
  }

  .card-after-container::before {
    content: "";
    position: absolute;
    top: 100px;
    margin-left: 9.2%;
    height: 100vh;
    width: 6px;
    background: #d7e4ed;
    z-index: -1;
  }

  .card-after mat-card::before {
    content: "";
    position: absolute;
    top: 10px;
    right: 100%;
    height: 0;
    width: 0;
    border: 11px solid transparent;
    border-right: 9px solid tomato;
  }
}
