@import url('https://fonts.googleapis.com/css?family=Inconsolata&display=swap');
.card-container{
    height: calc( 100vh - 64px );
}
.card {
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(700px, 1fr));
    min-height: 450px;
    padding: 70px;
}
.mat-card-content{
    display: flex;
    flex-direction: column;
}
p{
    font-family:Inconsolata ,monospace;
    font-weight:bold;
    font-size:44px;
    padding:20px;
}
.mat-card-content.objective{
    display: flex;
    justify-content: center;
}
.profile-name{
    display:flex;
    justify-content: center;
    align-items: center;
}
@media only screen and (max-width: 600px) {
    .card {
        display:grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        min-height:500px;
        padding:50px;
    }
  }
