<div class="card-container">
  <div class="card">
    <mat-card>
      <mat-card-header>
        <mat-card-title>

        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
            <div class="profile-name">
                <p>VINAY PATHAK</p>
                <img src="assets/vicky.jpg" alt="profile picture" style="height:100px;width:100px;border-radius:50%;">
            </div>    
            <div class="objective">
                <p style="font-size:18px;text-align:center">
                    Seeking to work as a key player in challenging and creating environment of a leading organization 
                    where I can utilize my therotical and practical knowledge.
                </p>
            </div>
            <div class="download-resume">
              <button style="background-color: #3f51b5;" mat-button (click)="openDialog()">DOWNLOAD RESUME</button>
            </div>
            <br>
            <div class="handles">
              <a mat-button href="">
                <img src="assets/linkedin.svg" alt="linked in">
              </a>
              <a mat-button href="">
                <img src="assets/github-logo.svg" alt="linked in">
              </a>
              <a mat-button href="">
                <img src="assets/hackerrank.svg" alt="linked in">
              </a>
            </div>
        </mat-card-content>
    </mat-card>
  </div>
</div>
